@media screen and (max-width: 600px) { 

    body {
        background-color: white;
        background-image: url(sucreBody.jpg);
        
    }

   header { 
       width: 100%;
       height: auto;
        display: flex;
        justify-content: space-around;
         }

         article {
             margin-top: 5px;
         }

    header img {
        display: flex;
        width:100%;
        border-radius: 3%;
        border: 2px solid black;
        
        
    }
    
    h2 {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 0.6em;
        
    }
    header h1 {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        
    }
    
    
    aside ul {
        list-style-type: none;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        padding-top: 50px;
        padding-left: 0%;
        position: -webkit-sticky; 
  position: sticky;
  top: 0;
}
    
    aside ul li {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1px ;
        background: linear-gradient(rgb(225, 225, 226), rgb(190, 187, 187));
        border-radius: 10%;
        margin-right: 5px;
      margin-top: 5px;
      padding: 3px;
      border: 2px solid black
      
    }

    

    aside ul li:hover {
        box-shadow: 5px 5px 10px rgb(12, 12, 12);

    }
    aside ul li a:hover {
        color: rgb(238, 234, 229);
    } 
    
    aside ul li a {
      text-decoration:none;
      text-align: center;
      color:rgb(29, 29, 28) ;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      
      
    }
     
    #contenu {
       
        width: auto;
        display: grid;
      grid-template-columns: 1fr 6fr;
      grid-auto-rows: minmax(20em, auto);
      
    }
    
    #aside {
        width: auto;
        grid-column:1;
        grid-row: 1/3 ;
    }
    
    #gridArticle {
        grid-column: 2;
        grid-row: auto;
     }

     .gridArticle2 {
         grid-column: 2;

     }
    
    #grid1 {
        border: 3px solid black;
        border-radius: 3%;
        background-image: url(sucre.jpg);
        
        display: grid;
      grid-template-areas:"a a"
                          ". b"
                          "c c" ;
      grid-template-columns: 50px 3fr;
      grid-template-rows: auto;
    
    }
    
    #h2PremiereRecette {
        grid-area: a;
    }
    
    #imgPremiereRecette {
        grid-area: b;
        width: 95%;
        border-radius: 50%;
        
        
    }
    
    #p_PremiereRecette {
        grid-area: c;
    }
    
    
    
    #deuxiemeRecette {
        grid-column: 2;
        grid-row: auto;
    
        
    }
    
    #grid2 {
        border: 3px solid black;
        border-radius: 3%;
        background-image: url(beurre.jpg);
        display: grid;
      grid-template-areas:"a a"
                          ". b"
                          "c c" ;
      grid-template-columns: 30px 3fr;
      grid-template-rows: auto;
    
    }
    
    #h2DeuxiemeRecette {
        grid-area: a;
    }
    
    #imgDeuxiemeRecette {
        grid-area: b;
        width: 95%;
        border-radius: 50%;
    }
    
    #p_DeuxiemeRecette {
        grid-area: c;
    }
    
    
    #troisiemeRecette {
        grid-column: 2;
        grid-row: auto;
    
        
    }
    
    #grid3 {
        border: 3px solid black;
        border-radius: 3%;
        background-image: url(chantilly.jpg);
        display: grid;
      grid-template-areas:"a a"
                          ". b"
                          "c c" ;
      grid-template-columns: 30px 3fr;
      grid-template-rows: auto;
    
    }
    
    #h2TroisiemeRecette {
        grid-area: a;
    }
    
    #imgTroisiemeRecette {
        grid-area: b;
        width: 95%;
        border-radius: 50%;
    }
    
    #p_TroisiemeRecette {
        grid-area: c;
    }
    
    
    #quatriemeRecette {
        grid-column: 2;
        grid-row: auto;
    
       
    }
    
    #grid4 {
        border: 3px solid black;
        border-radius: 3%;
        background-image: url(chocolat.jpg);
        display: grid;
      grid-template-areas:"a a"
                          ". b"
                          "c c" ;
      grid-template-columns: 30px 3fr;
      grid-template-rows: auto;
    
    }
    
    #h2QuatriemeRecette {
        grid-area: a;
    }
    
    #imgQuatriemeRecette {
        grid-area: b;
        width: 95%;
        border-radius: 50%;
    }
    
    #p_QuatriemeRecette {
        grid-area: c;
    }
    
    
    #cinquiemeRecette {
        grid-column: 2;
        grid-row: auto;
    
        
    }
    
    #grid5 {
        border: 2px solid black;
        border-radius: 3%;
        background-image: url(pateFeuilleté.jpg);
        display: grid;
      grid-template-areas:"a a"
                          ". b"
                          "c c" ;
      grid-template-columns: 30px 3fr;
      grid-template-rows: auto;
    
    }
    
    #h2CinquiemeRecette {
        grid-area: a;
    }
    
    #imgCinquiemeRecette {
        grid-area: b;
        width: 95%;
        border-radius: 50%;
        
    }
    
    #p_CinquiemeRecette {
        grid-area: c;
    }
    
    .cuisine p {
        background: linear-gradient(rgb(225, 225, 226), rgb(190, 187, 187));
        border-radius: 5%;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        color: rgb(20, 20, 20);
        font-size: 15px;
        border: 2px solid black;
        /* margin-left: 3px; */
        box-shadow: 1px 1px 5px black;
        margin-left: 5px;
        margin-right: 5px;
        

    }
    
    .cuisine h2 {
        background: linear-gradient(rgb(225, 225, 226), rgb(190, 187, 187));
        border-radius: 5%;
        font-family: fantasy;
        font-weight: 200;
        color: rgb(48, 48, 48);
        border: 3px solid black;
        box-shadow: 1px 1px 5px black;
        text-shadow: 1px 1px 2px rgb(253, 247, 242);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10%;
    }

    .imgArticle {
        box-shadow: 2px 2px 5px rgb(48, 48, 48);
        border: 4px solid black;
        
    }
    
    
    }

    @media screen and (min-width: 600px) and (max-width: 1023px) {
        body {
            background-color: white;
            background-image: url(fondBody.jpg);
            
        }
    
       header { 
           height: auto;
            display: flex;
            justify-content: space-around;
             }
    
             article {
                 margin-top: 5px;
             }
    
        header img {
            display: flex;
            width:100%;
            /* height: auto; */
            border-radius: 3%;
            border: 3px ridge black
        
        }
        
        h2 {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 0.6em;
            
        }
        header h1 {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            
        }
        
        
        aside ul {
            list-style-type: none;
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            padding-top: 50px;
            padding-left: 0%;
            position: -webkit-sticky; 
      position: sticky;
      top: 0;
    }
        
        aside ul li {
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1px ;
            background: linear-gradient(rgb(248, 248, 250), rgb(206, 201, 201));
            border-radius: 10%;
            margin-right: 5px;
          margin-top: 5px;
          padding: 3px;
          border: 2px solid black
          
        }

     aside ul li:hover {
            box-shadow: 5px 5px 10px rgb(12, 12, 12);
            background: linear-gradient(rgb(57, 57, 58), rgb(58, 57, 57));

    
        }
        aside ul li a:hover {
            color: rgb(247, 244, 241);
        } 
        
        aside ul li a {
          text-decoration:none;
          text-align: center;
          color:rgb(29, 29, 28) ;
          font-family: 'Times New Roman', Times, serif;
          font-weight: 800;
          
          
        }
         
        #contenu {
           
            width: auto;
            display: grid;
          grid-template-columns:  1fr 2fr 2fr;
          grid-auto-rows: minmax(20em, auto);
          
        }
        
        #gridArticle {
        display: grid;
        margin-right: 10px;
        }

        
            
        
        #aside {
            width: auto;
            grid-column:1;
            grid-row:1 ;
        }

        #premiereRecette {
            grid-column: 1/3;
        }
        
        
        #grid1 {
            border: 3px solid black;
            border-radius: 3%;
            background-image: url(sucre.jpg);
            
            display: grid;
          grid-template-areas:"a a"
                              ". b"
                              "c c" ;
          grid-template-columns: 50px 3fr;
          grid-template-rows: auto;
        
        }
        
        #h2PremiereRecette {
            grid-area: a;
        }
        
        #imgPremiereRecette {
            grid-area: b;
            width: 90%;
            border-radius: 50%;
            
            
        }
        
        #p_PremiereRecette {
            grid-area: c;
        }
        
        
        
        #deuxiemeRecette {
            grid-column:1/3 ;
            grid-row: auto;
            margin-top: 5px;
            
        
            
        }
        
        #grid2 {
            border: 3px solid black;
            border-radius: 3%;
            background-image: url(beurre.jpg);
            display: grid;
          grid-template-areas:"a a"
                              ". b"
                              "c c" ;
          grid-template-columns: 30px 3fr;
          grid-template-rows: auto;
        
        }
        
        #h2DeuxiemeRecette {
            grid-area: a;
        }
        
        #imgDeuxiemeRecette {
            grid-area: b;
            width: 90%;
            border-radius: 50%;
        }
        
        #p_DeuxiemeRecette {
            grid-area: c;
        }
        
        
        #troisiemeRecette {
            grid-column:1/3; 
            grid-row: auto;
            display: inline;
            
            
        
            
        }
        
        #grid3 {
            border: 3px solid black;
            border-radius: 3%;
            background-image: url(chantilly.jpg);
            display: grid;
          grid-template-areas:"a a"
                              ". b"
                              "c c" ;
          grid-template-columns: 30px 3fr;
          grid-template-rows: auto;
        
        }
        
        #h2TroisiemeRecette {
            grid-area: a;
        }
        
        #imgTroisiemeRecette {
            grid-area: b;
            width: 90%;
            border-radius: 50%;
        }
        
        #p_TroisiemeRecette {
            grid-area: c;
        }
        
        
        #quatriemeRecette {
            grid-column: 3/4;
            grid-row: auto;
        
           
        }
        
        #grid4 {
            border: 3px solid black;
            border-radius: 3%;
            background-image: url(chocolat.jpg);
            display: grid;
          grid-template-areas:"a a"
                              ". b"
                              "c c" ;
          grid-template-columns: 30px 3fr;
          grid-template-rows: auto;
        
        }
        
        #h2QuatriemeRecette {
            grid-area: a;
        }
        
        #imgQuatriemeRecette {
            grid-area: b;
            width: 90%;
            border-radius: 50%;
        }
        
        #p_QuatriemeRecette {
            grid-area: c;
        }
        
        
        #cinquiemeRecette {
            grid-column: 3/4;
            grid-row: 1;
        
            
        }
        
        #grid5 {
            border: 2px solid black;
            border-radius: 3%;
            background-image: url(pateFeuilleté.jpg);
            display: grid;
          grid-template-areas:"a a"
                              ". b"
                              "c c" ;
          grid-template-columns: 30px 3fr;
          grid-template-rows: auto;
        
        }
        
        #h2CinquiemeRecette {
            grid-area: a;
        }
        
        #imgCinquiemeRecette {
            grid-area: b;
            width: 90%;
            border-radius: 50%;
            
        }
        
        #p_CinquiemeRecette {
            grid-area: c;
        }
        
        .cuisine p {
            background: linear-gradient(rgb(248, 248, 250), rgb(206, 201, 201));
            border-radius: 5%;
            padding: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            color: rgb(20, 20, 20);
            font-size: 15px;
            border: 1px solid black;
            /* margin-left: 3px; */
            box-shadow: 1px 1px 5px black;
            margin-left: 5px;
            margin-right: 5px;
            
    
        }
        
        .cuisine h2 {
            background: linear-gradient(rgb(248, 248, 250), rgb(245, 159, 159));
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
            border-top-right-radius: 20%;
            font-family: fantasy;
            font-weight: 200;
            color: rgb(48, 48, 48);
            border: 3px solid black;
            box-shadow: 1px 1px 5px black;
            text-shadow: 1px 1px 2px rgb(253, 247, 242);
            margin-left: 30px;
            margin-right: 30px;
            font-size: 25px;
        }
    
        .imgArticle {
            box-shadow: 2px 2px 5px rgb(48, 48, 48);
            border: 4px solid black;
            margin-left: 5px;
            
        }
        
    }